"*":
  "exception-reporting":
    userId: "d8ccd476-7728-7965-237e-8697ea1c9e22"
  welcome:
    showOnStartup: false
  metrics:
    userId: "f8484a553ab176923d240d2fcca1cc4aa18f1f9a"
  editor:
    fontFamily: "Source Code Pro"
    tabLength: 4
    invisibles: {}
  core:
    projectHome: "~/Projects"
  minimap:
    v4Preview: true
  linter:
    showErrorPanel: false
  "linter-flake8":
    executableDir: "/usr/local/bin"
  "autocomplete-plus": {}
  "atom-terminal": {}
  tabs:
    usePreviewTabs: true
  "tree-view": {}
  "go-plus": {}
  "atom-beautify":
    _analyticsUserId: "ac214814-5908-408b-808f-94f635e0f891"
  "merge-conflicts": {}
  "vim-mode": {}
  "linter-scalac":
    scalacExecutablePath: "/usr/lib/scala/bin/"
  "one-dark-ui": {}
  "fuzzy-finder": {}
  "git-diff": {}
  "markdown-preview": {}
