"*":
  "":
    coffee:
      source:
        editor:
          tabLength: 2
  "atom-beautify":
    _analyticsUserId: "ac214814-5908-408b-808f-94f635e0f891"
  "atom-terminal": {}
  "autocomplete-plus": {}
  core:
    projectHome: "~/Projects"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Hack"
    invisibles: {}
    tabLength: 4
  "exception-reporting":
    userId: "d8ccd476-7728-7965-237e-8697ea1c9e22"
  "fuzzy-finder": {}
  "git-diff": {}
  "go-plus":
    goPath: "~/Projects/go"
  linter: {}
  "linter-flake8":
    ignoreErrorCodes: [
      "E501"
      "N802"
    ]
  "linter-scalac":
    scalacExecutablePath: "/usr/lib/scala/bin/"
  "markdown-preview": {}
  "merge-conflicts": {}
  metrics:
    userId: "f8484a553ab176923d240d2fcca1cc4aa18f1f9a"
  minimap:
    v4Preview: true
  "one-dark-ui": {}
  "open-on-bitbucket":
    cloudUrlOverride: "git-staging@staging.bitbucket.org"
  tabs:
    usePreviewTabs: true
  "tree-view": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    tabLength: 2
".html.jinja.text":
  editor:
    tabLength: 2
