"*":
  "exception-reporting":
    userId: "d8ccd476-7728-7965-237e-8697ea1c9e22"
  welcome:
    showOnStartup: false
  metrics:
    userId: "f8484a553ab176923d240d2fcca1cc4aa18f1f9a"
  editor:
    fontFamily: "Source Code Pro"
    tabLength: 4
    invisibles:
      {}
    fontSize: 14
  core:
    projectHome: "~/Projects"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  minimap:
    v4Preview: true
  linter:
    {}
  "linter-flake8":
    {}
  "autocomplete-plus":
    {}
  "atom-terminal":
    {}
  tabs:
    {}
  "tree-view":
    {}
